{% extends "voterreg/base.html" %}
{% load crispy_forms_tags %}
{% load bootstrap %}

{% block title %}Verify your Voter ID details{% endblock %}

{% block customjs %}
  <script>
    var districtJson;
    $.getJSON('{% url 'district-list' %}', function(data) {
      districtJson = data;
    });
    $(document).ready(function() {
      $('#id_state').change(function() {
        var state_id = this.value;
        console.log("Selected state ", state_id);
        var $districtInput = $('#id_district');
        $districtInput.empty();
        $districtInput.append($("<option></option>").attr("value", "").attr("selected", "selected").text("---------"));
        $.each(districtJson.districts, function(i, district) {
          if (district.state_id == state_id) {
            var text = district.name + ", " + district.state_name + " (" + district.state_shortcode + ")";
            $districtInput.append($("<option></option>").attr("value", district.pk).text(text));
          }
        });
      });
    });
  </script>
{% endblock %}

{% block content %}
  <div class="text-center page-header"> <h1>Save voter information</h1> </div>
  <div class="row">
    <div class="span5 offset1">
        <p class="lead">
        Save a voter's information in this page. We will record this
        information and notify you to help ensure that your voter details
        do not get deleted.
        </p>
        
        <form method="post" class="form-horizontal">{% csrf_token %}
            {{ form|bootstrap }}
            <div class="text-center form-actions" style="padding-left: 0px;">
                <input type="submit" class="btn btn-primary" value="Create new Voter Record" />
            </div>
        </form>
    </div>
    <div class="text-center span5">
        <p class="lead">Finding your Voter ID number.</p>

        <img id="hello" class="text-center" src="{{ STATIC_URL }}voterreg/images/rsz_voter-id-card-sample.png" />
    </div>
  </div>
{% endblock %}
