<form class="text-center" action="{% url 'facebook_connect' %}?facebook_login=1" method="post">
    {% if request.mobile %}
        <!-- Doing a redirect for mobile -->
    {% else %}
        <!-- Doing a popup for regular browsers -->
    {% endif %}
    <button class="btn btn-primary btn-large"
        {% if request.mobile %}
            type="submit"
        {% else %}
            type="button" onclick="F.connect(this.parentNode);"
        {% endif %}
    >
        {% if login_button_text %}
            {{ login_button_text }}
        {% else %}
            Sign in with Facebook
        {% endif %}
    </button>
    <input type="hidden" value="{{ next }}" name="next" />
    <input type="hidden" value="{{ next }}" name="register_next" />
    <input type="hidden" value="{{ next }}" name="error_next" />
    {% csrf_token %}
</form>
