{% extends "voterreg/base.html" %}
{% load staticfiles %}

{% block title %}Login using Facebook{% endblock %}
{% block content %}

<div class="row spacer"><div class="span6 offset3 text-center">

{% include "voterreg/facebook-login-button.html" %}

<!--
<small>
We recommend that you use a Facebook account to login. If you prefer
not to use a Facebook account, you can login by entering a username and
password <a href="{% url 'auth_login' %}?next={{ next }}">here</a>. <br />
<br />
If you do not have an account, create a new account <a href="{% url 'registration_register' %}">here</a>. <br/ >
<br />
If you have forgotten your password, click <a href="{% url 'auth_password_reset' %}">here</a>.
</small>
-->

</div>

{% endblock %}
