{% extends "voterreg/base.html" %}

{% block title %}List of Saved Voter IDs{% endblock %}

{% block content %}
    {% if deleted %}
        <div class="row"><div class="span6 offset3 text-center text-error">
                We have deleted the voter record per your request. <br />
        </div></div>
    {% endif %}

    <div class="row"><div class="span8 offset2 text-center">
    {% if voter_list %}
        <h2> List of voter records </h2>
        <table class="table table-striped">
            <tr><th>EPIC Number</th><th>Constituency</th><th>First
                    Name</th><th>Last Name</th><th>Actions</th></tr>
            {% for voter in voter_list %}
            <tr><td>{{ voter.epic_number }}</td><td>{{ voter.ac_name }}</td>
                <td>{{ voter.voter_first_name }}</td><td>{{ voter.voter_last_name }}</td>
                <td>
                    <a href="{% url "epic-info" voter.pk %}"><button
                            class="btn btn-mini btn-primary" type="button">Info</button></a>
                    <a href="{% url "epic-delete" voter.pk %}"><button
                            class="btn btn-mini btn-danger" type="button">Delete</button></a>
                </td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        No voter record found.
    {% endif %}
        <a href="{% url "epic-new" %}"><button class="btn btn-large
                btn-primary" type="button">Add another voter record</button></a>
    </div></div>
{% endblock %}
