{% extends "voterreg/base.html" %}

{% block title %}List of Saved Voter IDs{% endblock %}

{% block content %}
    <h1> List of EPIC numbers </h1>
    {% if voter_list %}
        <table class="table table-striped">
            <tr><th>EPIC Number</th><th>Constituency</th><th>First
                    Name</th><th>Last Name</th><th>Actions</th></tr>
            {% for voter in voter_list %}
            <tr><td>{{ voter.epic_number }}</td><td>{{ voter.ac_name }}</td>
                <td>{{ voter.voter_first_name }}</td><td>{{ voter.voter_last_name }}</td>
                <td><a href="{% url "epic-delete" voter.pk %}"><button
                            class="btn btn-danger" type="button">Delete</button></a></td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
    No voter record found.
    {% endif %}
{% endblock %}
