{% extends "voterreg/base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<div class="row"><div class="span6 offset3">
<div class="page-header"> <h1>Welcome to Save Your Vote</h1> </div>
<dl class="dl-horizontal">
    <dt><a style="text-decoration: none;" href="/fp/the-missing-voter/">
        <button class="btn btn-block btn-danger" type="button">Problem</button>
        </a></dt>
    <dd>Several voters in India find that they are unable to vote on
    election day because their name has been deleted from the voter roll.
    <br /> <br /> </dd>

    <dt><button style="cursor: default;" class="btn btn-block btn-success" type="button">Solution</button></dt>
    <dd>Save your Voter ID number on our website and we will notify you
    over Facebook and e-mail if your record is deleted by mistake. </dd>
</dl>

<p>
Don't wait until it is too late. It only takes a couple of minutes to add
your Voter ID number. You can also add details of other voters such as your
family members. <br /> <br />
</p>

<p class="text-center">
    {% if user and user.is_authenticated %}
        <a href="{% url 'epic-new' %}"><button class="btn btn-large btn-primary" type="button">Add Voter Information</button></a>
    {% else %}
        {% include "voterreg/facebook-login-button.html" with login_button_text="Sign in and Add Voter Information" %}
    {% endif %}
</p>
</div></div>

{% endblock %}
